<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap"
      rel="stylesheet"
    />
    {{! <link rel="stylesheet" href="/stylesheets/bootstrap5.0.css" /> }}
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script
      src="https://kit.fontawesome.com/e43a9052ab.js"
      crossorigin="anonymous"
    ></script>
    <title>Restaurant List</title>
  </head>
  <body>
    <header>
      <!-- navigation -->
      <nav class="navbar">
        <div class="container">
          <a class="nav-title" href="/">
            <i class="fas fa-coffee"></i>
            Cafes and Restaurants
            <i class="fas fa-utensils"></i>
          </a>
          <a href="/restaurants/new" ><button id="navbar-searchBtn" class="btn"><i class="fas fa-plus-circle"></i>  Add Restaurant</button></a>
         </div>

      </nav>
      <div class="title-image"></div>
    </header>
    {{{body}}}
    <!-- footer -->
    <div class="footer">
      <div class="foot-info">
        <img
          src="/pngtree-creative-abstract-3d-media-play-button-vector-logo-design-png-image_3732773.png"
          alt="steavn-logo"
          class="footer-logo"
        />
        web designer : Steavn Chen
      </div>
    </div>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>

{{! ~~~~~~~~~~~~~~~~~~~~~ }}